//- ----------------------------------
//- 💥 DEMOS > LAYOUT
//- ----------------------------------

include _mixins

doctype html
html(lang="en")

    head
        title #{title ? title + " | " : ""} Demos | Explosion AI

        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="referrer" content="always")
        link(rel="shortcut icon" href="/assets/img/favicon.ico")

        link(rel="stylesheet" href="assets/css/style.css")

        if stylesheets
            each stylesheet in stylesheets
                link(rel="stylesheet" href="assets/css/#{stylesheet}.css")

        if partial("../_sidebar")
            link(rel="stylesheet" href="/assets/css/sidebar.css")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@" + twitter)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=description)
        meta(name="twitter:image" content="#{demos_url}/displacy/assets/img/preview.jpg")

        meta(property="og:type" content="website")
        meta(property="og:site_name" content=sitename)
        meta(property="og:url" content=url)
        meta(property="og:title" content=title)
        meta(property="og:description" content=description)
        meta(property="og:image" content="#{demos_url}/displacy/assets/img/preview.jpg")

        script var api = '#{api}';
        script var model_api = '#{model_api}';

    body

        !=partial("../_sidebar")

        main.o-main
            !=yield

        if scripts
            each script in scripts
                script(src="assets/js/#{script}.js")
