//- ----------------------------------
//- 💥 DEMOS > DISPLACY
//- ----------------------------------

include _mixins

div.o-banner.o-form
    +input("Server name")#serverInput(value="localhost")
    +input("Dependency api")#depInput(value="/dep")
    +input("Models api")#modelInput(value="/models")
    +button("check", "Update")#inputRowSubmit

header.o-banner.o-form#inputForm(style='display: none')
    +input("Your sentence here...")#input
        +search#submit

    +dropdown("radio", "modelDummy", "", {'dummy': 'dummy'}, '')#modelDummy(style='display: none' aria-hidden=true)
    +dropdown("radio", "model", "Model", {'de': 'de', 'en': 'en'}, 'de')#models

    +dropdown("checkbox", "settings", "Settings", { punctuation: "Collapse Punctuation", phrases: "Collapse Phrases" }, [ "punctuation", "phrases" ])

    +button("download", "Download")#download(download="displacy.svg")

.o-container#displacy

+error("Oops, something went wrong. Please try again!")
